<html>
<head>
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<p>Add new student</p>
<form action="/add-student" method="POST">
    <input type="text" name="fullName" placeholder="Full Name" /><br />
    <input type="text" name="code" placeholder="Code" /><br />
    <input type="text" name="fieldOfStudies" placeholder="Field of Studies" /><br />
    <button type="submit">Add student</button>
</form>
</body>
</html>